
{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% for details in data %}
    <h1>{{details.title}}</h1>
    <h2>{{details.price}}</h2>
    <h3>{{details.model}}</h3>
    <p>{{details.description}}</p>
    <img src="{% static 'media/logo1.png' %}">
    {% endfor %}
    <script src="{% static 'js/js.js' %}"></script>
</body>
</html>